<div class="wrapper">
    <header>
        {{!-- Main Navigation --}}
        <nav class="navbar fixed-top">
            <h1>
                <a>Virtual Chore Board</a>
            </h1>
        </nav>
    </header>
</div>