
@import url("https://fonts.googleapis.com/css2?family=Truculenta:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  height: 100%;
  background: #eeeff4e8;
}

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 100px;
}

#footer {
  background-color: #df3b1e;
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
}

.wrapper .header {
  width: 100%;
  height: 50px;
  background: #df3b1e;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
}

.cards_wrap {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards_wrap .card_item {
  padding: 15px 25px;
  /* width: 25%; */
}

.cards_wrap .card_inner {
  background: rgba(255, 255, 255, 0.733);
  border-radius: 5px;
/* We need to mov ethis to fit int the MVC archtitecture- I belive in the Public folder*/